/db/
node_modules/
resources/statics/js
resources/statics/css/main.css
resources/statics/css/main.css.map
yarn.lock
package-lock.json

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
